
<app-header [title]="title" [breadcum]="breadcum"></app-header>
  
<!-- Main content -->
<section class="content animate__animated animate__fadeInUp animate__delay-1s">
    <div class="container-fluid">
        <h1 class="text-center">Bienvenido a CRM Hercon</h1>
    </div>
</section>

