<app-header [title]="title" [breadcum]="breadcum" [rutaBreadcum]="rutaBreadcum"></app-header>
<!-- Main content -->
<section class="content animate__animated animate__fadeInUp animate__delay-1s">
    <div class="container-fluid">
        
        <div class="col-md-12">
            <a routerLink="/creaAccion" class="btn btn-primary btn-lg mb-5 float-right">
                <i class="fas fa-plus-square mr-1" style="font-size: 1.5rem;"></i>
                Agregar Accion
            </a>
            <div class="clearfix"></div>
        </div>
        
        <div class="col-md-12">
            <mat-spinner class="m-auto" *ngIf="!acciones" color="accent"></mat-spinner>
            <table class="table table-bordered table-hover table-responsive-md" *ngIf="acciones">
                <thead>
                    <th>#</th>
                    <th>Descripción</th>
                    <th>Acción</th>
                </thead>
                <tbody>
                    <tr *ngIf="acciones.length === 0">
                        <td colspan="3" class="text-muted text-center">No hay datos.</td>
                    </tr>
                    <tr *ngFor="let accion of acciones; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{accion.nombre_accion}}</td>
                        <td>
                            <a [routerLink]="['/editarAccion',accion.id_accion]" class="btn btn-warning btn-sm mr-1" data-toggle="editar">
                                <i class="far fa-edit" style="color:white"></i>
                            </a>
                            <button class="btn btn-danger btn-sm" data-toggle="borrar" (click)="eliminarAccion(accion.id_accion)">
                                <i class="far fa-trash-alt text-white"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</section>


