<!-- Content Header (Page header) -->
<div class="content-header animate__animated animate__fadeInDown">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{title}}</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="rutaBreadcum">{{breadcum[0]}}</a></li>
            <li class="breadcrumb-item active" *ngIf="breadcum.length > 1">{{breadcum[1]}}</li>
        </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->