<app-header [title]="title" [breadcum]="breadcum" [rutaBreadcum]="rutaBreadcum"></app-header>

<!-- Main content -->
<section class="content animate__animated animate__fadeInUp mt-5">
    <div class="container w-75">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">
                    Sector Económico
                </h3>
            </div>
            <form class="card-body" #sectorForm="ngForm" (ngSubmit)="onSubmit(sectorForm)">
                
                <div class="alert"
                    [class.alert-danger]="status === 'error'"
                    [class.alert-success]="status === 'success'"
                    [innerHTML]="mensaje">
                </div>

                <div class="form-group">
                    <label for="nombre_sector">Descripción:</label>
                    <input
                        type="text"
                        class="form-control"
                        name="nombre_sector"
                        [class.is-invalid]="nombre_sector.invalid && nombre_sector.touched"
                        [class.is-valid]="nombre_sector.valid && nombre_sector.touched"
                        #nombre_sector="ngModel"
                        [(ngModel)]="sector.nombre_sector"
                        required
                        pattern="[a-zA-ZáéíóúÁÉÍÓÚ ]+"
                    >

                    <div *ngIf="nombre_sector.touched && nombre_sector.errors !== null">
                        <span class="invalid-feedback d-block" *ngIf="nombre_sector.errors.required">Este campo es obligatorio.</span>
                        <span class="invalid-feedback d-block" *ngIf="nombre_sector.errors.pattern">Este campo no acepta números ni carácteres especiales.</span>
                    </div>

                </div>

                <input type="submit" class="btn btn-success" value="guardar" [disabled]="sectorForm.invalid">

            </form>
        </div>
    </div>
</section>