<app-header [title]="title" [breadcum]="breadcum" [rutaBreadcum]="rutaBreadcum"></app-header>
<!-- Main content -->
<section class="content animate__animated animate__fadeInUp animate__delay-1s">
    <div class="container-fluid">
        
        <div class="col-md-12">
            <a routerLink="/crearUsuario" class="btn btn-primary btn-lg mb-5 float-right">
                <i class="fas fa-plus-square mr-1" style="font-size: 1.5rem;"></i>
                Agregar Usuario
            </a>
            <div class="clearfix"></div>
        </div>
        
        <div class="col-md-12">
            <mat-spinner class="m-auto" *ngIf="!usuarios" color="warn"></mat-spinner>
            <table class="table table-bordered table-hover table-responsive-md" *ngIf="usuarios">
                <thead>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Email</th>
                    <th>Sucursal</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr *ngIf="usuarios.length === 0">
                        <td colspan="6" class="text-muted text-center">No hay datos.</td>
                    </tr>
                    <tr *ngFor="let usuario of usuarios; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{usuario.nombre_usuario}}</td>
                        <td>{{usuario.rol}}</td>
                        <td>{{usuario.email_usuario}}</td>
                        <td>{{usuario.sucursal.alias}}</td>
                        <td>
                            <a [routerLink]="['/editaUsuario',usuario.id_usuario]" class="btn btn-warning btn-sm mr-1" data-toggle="editar">
                                <i class="far fa-edit" style="color:white"></i>
                            </a>
                            <button class="btn btn-danger btn-sm" data-toggle="borrar" (click)="eliminarUsuario(usuario.id_usuario)">
                                <i class="far fa-trash-alt text-white"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</section>


