<div class="hold-transition login-page" *ngIf="!token && !identity">
  <app-login></app-login>
</div>


<div class="hold-transition sidebar-mini layout-fixed" *ngIf="token && identity">
  <app-navbar [identity]='identity' *ngIf="identity"></app-navbar>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>

