<div class="login-box">
    <div class="login-logo">
      <img src="assets/img/logo.png" alt="Hercon Maquinaria">
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">INICIA SESIÓN</p>

        <div class="alert alert-danger" *ngIf="status == 'error'">Ocurrio un error intentelo más tarde</div>
        
  
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="input-group mb-3">
            <span class="invalid-feedback d-block animate__animated animate__fadeIn" *ngIf="email.invalid && email.touched">*Este campo es obligatorio</span>
            <input type="email" 
                    class="form-control" 
                    placeholder="Email"
                    #email="ngModel"
                    name="email_usuario"
                    [(ngModel)]="usuario.email_usuario"
                    required
                    email>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <span class="invalid-feedback d-block animate__animated animate__fadeIn" *ngIf="contrasena.invalid && contrasena.touched">*Este campo es obligatorio</span>
            <input type="password" 
                    class="form-control" 
                    placeholder="Contraseña"
                    name="contrasena"
                    #contrasena="ngModel"
                    [(ngModel)]="usuario.contrasena"
                    required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            
            <div class="m-auto">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Sign In</button>
            </div>

          </div>
        </form>
  
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
