<app-header [title]="title" [breadcum]="breadcum" [rutaBreadcum]="rutaBreadcum"></app-header>

<!-- Main content -->
<section class="content animate__animated animate__fadeInUp mt-5">
    <div class="container w-75">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Sucursal</h3>
            </div>
            <div class="card-body">
                <form #sucForm="ngForm" (ngSubmit)="onSubmit(sucForm)">
        
                    <div
                        class="alert"
                        [class.alert-success]="status==='success'"
                        [class.alert-danger]="status==='error'"
                        [innerHTML]="mensaje"
                    >   
                    </div>
                    
        
                    <div class="form-group">
                        
                        <label for="razon_social">Razón Social:</label>
                        <input type="text"
                                class="form-control"
                                [class.is-invalid]="razon_social.invalid && razon_social.touched"
                                [class.is-valid]="razon_social.valid && razon_social.touched"
                                name="razon_social"
                                #razon_social="ngModel"
                                [(ngModel)]="sucursal.razon_social"
                                required>
                        
                        <span class="invalid-feedback d-block animate__animated animate__fadeIn"
                        *ngIf="razon_social.invalid && razon_social.touched"        
                        >
                                Es obligatorio este campo
                        </span>
        
                    </div>
        
                    <div class="form-group">
                        
                        <label for="rfc_sucursal">RFC:</label>
                        <input type="text"
                                class="form-control"
                                [class.is-invalid]="rfc_sucursal.invalid && rfc_sucursal.touched"
                                [class.is-valid]="rfc_sucursal.valid && rfc_sucursal.touched"
                                name="rfc_sucursal"
                                #rfc_sucursal="ngModel"
                                [(ngModel)]="sucursal.rfc_sucursal"
                                required>
                        
                        <span class="invalid-feedback d-block animate__animated animate__fadeIn"
                        *ngIf="rfc_sucursal.invalid && rfc_sucursal.touched"        
                        >
                                Es obligatorio este campo
                        </span>
        
                    </div>
        
                    <div class="form-group">
                        
                        <label for="alias">alias:</label>
                        <input type="text"
                                class="form-control"
                                [class.is-invalid]="alias.invalid && alias.touched"
                                [class.is-valid]="alias.valid && alias.touched"
                                name="alias"
                                #alias="ngModel"
                                [(ngModel)]="sucursal.alias"
                                required>
                        
                        <span class="invalid-feedback d-block animate__animated animate__fadeIn"
                        *ngIf="alias.invalid && alias.touched"        
                        >
                                Es obligatorio este campo
                        </span>
        
                    </div>
        
                    <input type="submit" class="btn btn-success mt-5" value="Guardar" [disabled]="sucForm.invalid">
        
                </form>
            </div>
        </div>
    </div>
</section>