<app-header [title]="title" [breadcum]="breadcum" [rutaBreadcum]="rutaBreadcum"></app-header>
<!-- Main content -->
<section class="content animate__animated animate__fadeInUp animate__delay-1s">
    <div class="container-fluid">
        <div class="card card-warning w-75 m-auto">
            <div class="card-header">
                <h3 class="card-title text-white">
                    Usuarios
                </h3>
            </div>
            <form class="card-body m-3" #usuarioForm="ngForm" (ngSubmit)="onSubmit(usuarioForm)">

                <div
                        class="alert"
                        [class.alert-success]="status==='success'"
                        [class.alert-danger]="status==='error'"
                        [innerHTML]="mensaje"
                >   
                </div>

                <div class="group-form">
                    <label for="nombre">Nombre Completo:</label>
                    <input type="text"
                            class="form-control"
                            [class.is-valid]="nombre_usuario.valid && nombre_usuario.touched"
                            [class.is-invalid]="nombre_usuario.invalid && nombre_usuario.touched"
                            name="nombre_usuario"
                            #nombre_usuario="ngModel"
                            [(ngModel)]="usuario.nombre_usuario"
                            required
                            minlength="3"
                            pattern="[a-zA-ZáéíóúÁÉÍÓÚ ]+">
                    <div *ngIf="nombre_usuario.touched && nombre_usuario.errors !== null">
                        <span class="invalid-feedback d-block" *ngIf="nombre_usuario.errors.required">Este campo es obligatorio.</span>
                        <span class="invalid-feedback d-block" *ngIf="nombre_usuario.errors.pattern">Este campo no acepta carácteres especiales ni números.</span>
                        <span class="invalid-feedback d-block" *ngIf="nombre_usuario.errors.minlength">Este campo aún no es válido.</span>
                    </div>
                </div>

                <div class="group-form mt-1">
                    <label for="rol">Rol:</label>
                    <select 
                    class="form-control"
                    [class.is-valid]="rol.valid && rol.touched"
                    [class.is-invalid]="rol.invalid && rol.touched"
                    name="rol"
                    id="rol"
                    #rol="ngModel"
                    [(ngModel)]="usuario.rol" 
                    required
                    >
                        <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                        <option value="DIRECTOR">DIRECTOR</option>
                        <option value="GERENTE">GERENTE</option>
                        <option value="VENDEDOR">VENDEDOR</option>

                    </select>
                    <div *ngIf="rol.touched && rol.errors !== null">
                        <span class="invalid-feedback d-block" *ngIf="rol.errors.required">Este campo es obligatorio.</span>
                        <span class="invalid-feedback d-block" *ngIf="rol.errors.email">No es un correo válido.</span>
                    </div>
                </div>

                <div class="group-form mt-1">
                    <label for="email">Email:</label>
                    <input type="email"
                            class="form-control"
                            [class.is-valid]="email_usuario.valid && email_usuario.touched"
                            [class.is-invalid]="email_usuario.invalid && email_usuario.touched"
                            name="email_usuario"
                            #email_usuario="ngModel"
                            [(ngModel)]="usuario.email_usuario"
                            required
                            email>
                    <div *ngIf="email_usuario.touched && email_usuario.errors !== null">
                        <span class="invalid-feedback d-block" *ngIf="email_usuario.errors.required">Este campo es obligatorio.</span>
                        <span class="invalid-feedback d-block" *ngIf="email_usuario.errors.email">No es un correo válido.</span>
                    </div>
                </div>

                <div class="group-form mt-1">
                    <label for="contrasena">Contraseña:</label>
                    <input type="password"
                            class="form-control"
                            [class.is-valid]="contrasena.valid && contrasena.touched"
                            name="contrasena"
                            #contrasena="ngModel"
                            [(ngModel)]="usuario.contrasena"
                            required
                            minlength="6"
                    >
                    <div *ngIf="contrasena.touched && contrasena.errors !== null">
                        <span class="invalid-feedback d-block" *ngIf="contrasena.errors.required">Este campo es obligatorio.</span>
                        <span class="invalid-feedback d-block" *ngIf="contrasena.errors.minlength">La contraseña debe ser mayor a 6 carácteres.</span>
                    </div>
                </div>

                <div class="group-form mt-1">
                    <label for="sucursal">Sucursal:</label>
                    <select 
                    class="form-control"
                    [class.is-valid]="id_sucursal.valid && id_sucursal.touched"
                    [class.is-invalid]="id_sucursal.invalid && id_sucursal.touched"
                    name="id_sucursal"
                    #id_sucursal="ngModel"
                    id="id_sucursal"
                    [(ngModel)]="usuario.id_sucursal" 
                    required
                    >
                        <option value="{{sucursal.id_sucursal}}" *ngFor="let sucursal of sucursales;">{{sucursal.razon_social}}</option>

                    </select>
                    <div *ngIf="id_sucursal.touched && id_sucursal.errors !== null">
                        <span class="invalid-feedback d-block" *ngIf="id_sucursal.errors.required">Este campo es obligatorio.</span>
                    </div>
                </div>

                <input type="submit" class="btn btn-success mt-5" value="Guardar">

            </form>
        </div>
    </div>
</section>
