<app-header [title]="title" [breadcum]="breadcum" [rutaBreadcum]="rutaBreadcum"></app-header>
  
<!-- Main content -->
<section class="content animate__animated animate__fadeInUp animate__delay-1s">
    <div class="container-fluid">

        <div class="col-md-12">
            <a routerLink="/crearSucursal" class="btn btn-primary btn-lg mb-5 float-right">
                <i class="fas fa-plus-square mr-1" style="font-size: 1.5rem;"></i>
                Agregar Sucursal
            </a>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-12">


            <mat-spinner class="m-auto" *ngIf="!sucursales"></mat-spinner>
            <table class="table table-bordered table-hover table-responsive-md" *ngIf="sucursales">
                <thead>
                    <th>#</th>
                    <th>Razon Social</th>
                    <th>RFC</th>
                    <th>Alias</th>
                    <th>Creado</th>
                    <th>Modificado</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr *ngIf="sucursales.length === 0">
                        <td colspan="7" class="text-muted text-center">No hay datos.</td>
                    </tr>
                    <tr *ngFor="let sucursal of sucursales; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{sucursal.razon_social}}</td>
                        <td>{{sucursal.rfc_sucursal}}</td>
                        <td>{{sucursal.alias}}</td>
                        <td>{{sucursal.created_at}}</td>
                        <td>{{sucursal.updated_at}}</td>
                        <td>
                            <a [routerLink]="['/editaSucursal',sucursal.id_sucursal]" class="btn btn-warning btn-sm mr-1" data-toggle="editar">
                                <i class="far fa-edit" style="color:white"></i>
                            </a>
                            <button class="btn btn-danger btn-sm" data-toggle="borrar" (click)="eliminarSucursal(sucursal.id_sucursal)">
                                <i class="far fa-trash-alt text-white"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</section>


