<app-header [title]="title" [breadcum]="breadcum" [rutaBreadcum]="rutaBreadcum"></app-header>

<!-- Main content -->
<section class="content animate__animated animate__fadeInUp mt-5">
    <div class="container w-75">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">
                    Acciones
                </h3>
            </div>
            <form class="card-body" #accionForm="ngForm" (ngSubmit)="onSubmit(accionForm)">
                
                <div class="alert"
                    [class.alert-danger]="status === 'error'"
                    [class.alert-success]="status === 'success'"
                    [innerHTML]="mensaje">
                </div>

                <div class="form-group">
                    <label for="nombre_accion">Descripción:</label>
                    <input
                        type="text"
                        class="form-control"
                        name="nombre_accion"
                        [class.is-invalid]="nombre_accion.invalid && nombre_accion.touched"
                        [class.is-valid]="nombre_accion.valid && nombre_accion.touched"
                        #nombre_accion="ngModel"
                        [(ngModel)]="accion.nombre_accion"
                        required
                        pattern="[a-zA-ZáéíóúÁÉÍÓÚ ]+"
                    >

                    <div *ngIf="nombre_accion.touched && nombre_accion.errors !== null">
                        <span class="invalid-feedback d-block" *ngIf="nombre_accion.errors.required">Este campo es obligatorio.</span>
                        <span class="invalid-feedback d-block" *ngIf="nombre_accion.errors.pattern">Este campo no acepta números ni carácteres especiales.</span>
                    </div>

                </div>

                <input type="submit" class="btn btn-success" value="guardar" [disabled]="accionForm.invalid">

            </form>
        </div>
    </div>
</section>